{% extends "template.html" %}
{% block conteudo %}

<section
    class="elementor-section elementor-top-section elementor-element elementor-element-20220bc2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementskit-parallax-multi-container"
    data-id="20220bc2" data-element_type="section"
    data-settings="{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f293614"
            data-id="f293614" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                <div class="elementor-element elementor-element-16c69f56 elementor-widget__width-auto de_scroll_animation_no elementor-widget elementor-widget-elementskit-header-info animated fadeInUp"
                    data-id="16c69f56" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="elementskit-header-info.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <ul class="ekit-header-info">
                                <li> <a> <svg aria-hidden="true" class="e-font-icon-svg e-fas-star-of-life"
                                            viewBox="0 0 480 512" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M471.99 334.43L336.06 256l135.93-78.43c7.66-4.42 10.28-14.2 5.86-21.86l-32.02-55.43c-4.42-7.65-14.21-10.28-21.87-5.86l-135.93 78.43V16c0-8.84-7.17-16-16.01-16h-64.04c-8.84 0-16.01 7.16-16.01 16v156.86L56.04 94.43c-7.66-4.42-17.45-1.79-21.87 5.86L2.15 155.71c-4.42 7.65-1.8 17.44 5.86 21.86L143.94 256 8.01 334.43c-7.66 4.42-10.28 14.21-5.86 21.86l32.02 55.43c4.42 7.65 14.21 10.27 21.87 5.86l135.93-78.43V496c0 8.84 7.17 16 16.01 16h64.04c8.84 0 16.01-7.16 16.01-16V339.14l135.93 78.43c7.66 4.42 17.45 1.8 21.87-5.86l32.02-55.43c4.42-7.65 1.8-17.43-5.86-21.85z">
                                            </path>
                                        </svg> o que fazemos </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-682188 de_scroll_animation_no elementor-widget elementor-widget-heading animated fadeInUp"
                    data-id="682188" data-element_type="widget"
                    data-settings="{&quot;_animation_delay&quot;:200,&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Web Services</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-6935ac53 de_scroll_animation_no elementor-widget elementor-widget-text-editor"
                    data-id="6935ac53" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>O serviço de Web Services é uma abordagem técnica essencial dentro do universo
                            digital, focado em integrar diferentes sistemas e plataformas para otimizar os
                            processos de negócios. Esse serviço envolve o desenvolvimento de soluções
                            personalizadas, integração de sistemas de terceiros, e o gerenciamento de APIs
                            para garantir a comunicação eficiente entre plataformas e serviços.</p>
                        <p>Profissionais especializados em Web Services, geralmente chamados de
                            desenvolvedores de integração, são responsáveis por conectar sistemas distintos,
                            melhorar a automação de processos e garantir a continuidade do fluxo de dados
                            entre aplicações. O objetivo principal dessa estratégia é proporcionar maior
                            agilidade nas operações, melhorar a experiência do usuário e impulsionar a
                            escalabilidade das empresas no ambiente digital.</p>
                    </div>
                </div>


                <div class="elementor-element elementor-element-41362273 elementor-widget__width-auto de_scroll_animation_no elementor-widget elementor-widget-heading"
                    data-id="41362273" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h3 class="elementor-heading-title elementor-size-default">Como nosso time executa
                            isso?
                        </h3>
                    </div>
                </div>
                <div class="elementor-element elementor-element-1635f07 de_scroll_animation_no elementor-widget elementor-widget-text-editor"
                    data-id="1635f07" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>Na nossa empresa, oferecemos serviços de Web Services e integrações, trazendo
                            toda a nossa experiência para conectar plataformas e sistemas de forma
                            eficiente. Ajudamos as empresas a integrar suas ferramentas e processos com
                            soluções personalizadas, integração de sistemas poderosos e suporte contínuo do
                            nosso time técnico.</p>
                        <p>Com nossa equipe de desenvolvedores e soluções inovadoras, garantimos que seus
                            sistemas operem de maneira fluida e otimizada, cuidando de todas as integrações
                            e processos com eficiência, da seguinte maneira:</p>







                    </div>
                </div>
                <div class="elementor-element elementor-element-2e92d686 elementor-mobile-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width de_scroll_animation_no elementor-widget elementor-widget-icon-list"
                    data-id="2e92d686" data-element_type="widget"
                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="icon-list.default">
                    <div class="elementor-widget-container">
                        <ul class="elementor-icon-list-items">
                            <li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon"> <i
                                        aria-hidden="true" class="icon icon-check"></i> </span> <span
                                    class="elementor-icon-list-text">Desenvolvendo e implementando
                                    integrações de sistemas</span></li>
                            <li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon"> <i
                                        aria-hidden="true" class="icon icon-check"></i> </span> <span
                                    class="elementor-icon-list-text">Gerenciando APIs e conectando
                                    plataformas distintas</span></li>
                            <li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon"> <i
                                        aria-hidden="true" class="icon icon-check"></i> </span> <span
                                    class="elementor-icon-list-text">Implementando soluções para otimizar
                                    fluxos de dados</span></li>
                            <li class="elementor-icon-list-item"> <span class="elementor-icon-list-icon"> <i
                                        aria-hidden="true" class="icon icon-check"></i> </span> <span
                                    class="elementor-icon-list-text">Gerando relatórios mensais sobre o
                                    desempenho das integrações</span></li>
                        </ul>
                    </div>
                </div>





            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2c115d20"
            data-id="2c115d20" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-1e305c09 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementskit-parallax-multi-container"
                    data-id="1e305c09" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-8f6d05d"
                            data-id="8f6d05d" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-3ca7c1a1 de_scroll_animation_no elementor-widget elementor-widget-heading"
                                    data-id="3ca7c1a1" data-element_type="widget"
                                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h4 class="elementor-heading-title elementor-size-default">O que
                                            está
                                            incluído*</h4>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-2eb8c594 elementor-icon-list--layout-traditional elementor-list-item-link-full_width de_scroll_animation_no elementor-widget elementor-widget-icon-list animated fadeIn"
                                    data-id="2eb8c594" data-element_type="widget"
                                    data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:600,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                    data-widget_type="icon-list.default">
                                    <div class="elementor-widget-container">
                                        <ul class="elementor-icon-list-items">
                                            <li class="elementor-icon-list-item"> <span
                                                    class="elementor-icon-list-icon"> <svg aria-hidden="true"
                                                        class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                                        </path>
                                                    </svg> </span> <span
                                                    class="elementor-icon-list-text">Desenvolvimento de
                                                    soluções de integração</span>
                                            </li>
                                            <li class="elementor-icon-list-item"> <span
                                                    class="elementor-icon-list-icon"> <svg aria-hidden="true"
                                                        class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                                        </path>
                                                    </svg> </span> <span class="elementor-icon-list-text">Integração
                                                    contínua de
                                                    sistemas</span>
                                            </li>
                                            <li class="elementor-icon-list-item"> <span
                                                    class="elementor-icon-list-icon"> <svg aria-hidden="true"
                                                        class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                                        </path>
                                                    </svg> </span> <span class="elementor-icon-list-text">Otimização de
                                                    fluxos de
                                                    dados e processos</span>
                                            </li>
                                            <li class="elementor-icon-list-item"> <span
                                                    class="elementor-icon-list-icon"> <svg aria-hidden="true"
                                                        class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                                        </path>
                                                    </svg> </span> <span class="elementor-icon-list-text">Planejamento
                                                    de
                                                    integração entre plataformas</span>
                                            </li>
                                            <li class="elementor-icon-list-item"> <span
                                                    class="elementor-icon-list-icon"> <svg aria-hidden="true"
                                                        class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                                        </path>
                                                    </svg> </span> <span class="elementor-icon-list-text">Análise de
                                                    performance
                                                    das integrações</span>
                                            </li>
                                            <li class="elementor-icon-list-item"> <span
                                                    class="elementor-icon-list-icon"> <svg aria-hidden="true"
                                                        class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                                        </path>
                                                    </svg> </span> <span class="elementor-icon-list-text">Treinamento de
                                                    integração e suporte técnico</span>
                                            </li>
                                            <li class="elementor-icon-list-item"> <span
                                                    class="elementor-icon-list-icon"> <svg aria-hidden="true"
                                                        class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                                        </path>
                                                    </svg> </span> <span class="elementor-icon-list-text">Treinamento e
                                                    suporte
                                                    em automação de sistemas</span>
                                            </li>
                                            <li class="elementor-icon-list-item"> <span
                                                    class="elementor-icon-list-icon"> <svg aria-hidden="true"
                                                        class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                                        </path>
                                                    </svg> </span> <span class="elementor-icon-list-text">Relatórios
                                                    mensais de
                                                    integração e desempenho</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-32728104 de_scroll_animation_no elementor-widget elementor-widget-text-editor"
                                    data-id="32728104" data-element_type="widget"
                                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>*A inclusão desses pontos podem variar de acordo com o pacote
                                            contratado.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-4164b4d1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementskit-parallax-multi-container"
                    data-id="4164b4d1" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-4be4a22e"
                            data-id="4be4a22e" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-5c32af6c elementor-widget__width-auto de_scroll_animation_no elementor-widget elementor-widget-heading"
                                    data-id="5c32af6c" data-element_type="widget"
                                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                    data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Curtiu o
                                            que
                                            fazemos?</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-354cc3c2 de_scroll_animation_no elementor-widget elementor-widget-text-editor"
                                    data-id="354cc3c2" data-element_type="widget"
                                    data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>Solicite uma consultoria gratuita feita por nossos especialistas.
                                        </p>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-bc6b3 de_scroll_animation_no elementor-widget elementor-widget-button animated fadeInUp"
                                    data-id="bc6b3" data-element_type="widget"
                                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:700,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                                    data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper"> <a
                                                class="elementor-button elementor-button-link elementor-size-sm"
                                                href="fale-conosco/">
                                                <span class="elementor-button-content-wrapper"> <span
                                                        class="elementor-button-text">FALE CONOSCO</span>
                                                </span> </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section
    class="elementor-section elementor-top-section elementor-element elementor-element-82812dd elementor-section-boxed elementor-section-height-default elementor-section-height-default elementskit-parallax-multi-container"
    data-id="82812dd" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-14bd63f"
            data-id="14bd63f" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-24edfbe elementor-widget__width-auto de_scroll_animation_no elementor-widget elementor-widget-button animated fadeInUp"
                    data-id="24edfbe" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:600,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper"> <a
                                class="elementor-button elementor-button-link elementor-size-sm" href="#/solucoes/">
                                <span class="elementor-button-content-wrapper"> <span class="elementor-button-text">
                                        veja tudo o que fazemos</span>
                                </span>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
    class="elementor-section elementor-top-section elementor-element elementor-element-47c055af elementor-section-boxed elementor-section-height-default elementor-section-height-default elementskit-parallax-multi-container"
    data-id="47c055af" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6f75d53f"
            data-id="6f75d53f" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-295e78d2 de_scroll_animation_no elementor-widget elementor-widget-heading animated fadeInUp"
                    data-id="295e78d2" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Agende uma consultoria
                            gratuita!</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-67dc9e6b de_scroll_animation_no elementor-widget elementor-widget-text-editor animated fadeInUp"
                    data-id="67dc9e6b" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:200,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>Garanta agora um papo incrível com o nosso time de especialistas e tenha um
                            diagnóstico preciso para o seu negócio. Clique no botão abaixo agora mesmo!</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-ac07757 elementor-align-center de_scroll_animation_no elementor-widget elementor-widget-button animated fadeInUp"
                    data-id="ac07757" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:700,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}"
                    data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper"> <a
                                class="elementor-button elementor-button-link elementor-size-sm" href="#/fale-conosco">
                                <span class="elementor-button-content-wrapper"> <span
                                        class="elementor-button-text">garanta agora</span> </span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}